/* styles.css */

html, body {
  height: 100%;
}

div#container {
  display: table;
  text-align: center;
  width: 100%;
  border-spacing: 0px;
  border-collapse: separate;
  color: black;
  background-color: white;
  height: 100%;
}
